<form>
  <div class="checkbox">
    <label for="enable_comments">
      <input type="checkbox" name="enable_comments" id="enable_comments"> 
      Enable comments
    </label>
  </div>
  <p>
    We use <a href="https://disqus.com" target="_blank">Disqus</a> for comments.
    By enabling comments you agree that third party services may place tracking
    cookies on your computer. Disqus allows you to opt out from data sharing 
    <a href="https://help.disqus.com/customer/portal/articles/1657951-data-sharing-settings" target="_blank">
      on this page
    </a>.
  </p>
</form>

<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
